<footer class="bg-dark text-light py-4">
    <div class="container">
  
      <div class="row">
  
        <!-- Organisation Info -->
        <div class="col-md-4 mb-3">
          <h5>Charity Trust</h5>
          <p class="small">
            Dedicated to serving humanity through healthcare, education,
            and compassionate care for the elderly.
          </p>
        </div>
  
        <!-- Contact Info -->
        <div class="col-md-4 mb-3">
          <h6>Contact Us</h6>
          <p class="small mb-1">📞 Phone: +91 98148 28400</p>
          <p class="small mb-1">📧 Email: info@charitytrust.org</p>
        </div>
  
        <!-- Social Media -->
        <div class="col-md-4 mb-3">
          <h6>Follow Us</h6>
          <a href="#" class="text-light text-decoration-none d-block">Facebook</a>
          <a href="#" class="text-light text-decoration-none d-block">Instagram</a>
          <a href="#" class="text-light text-decoration-none d-block">Twitter</a>
        </div>
  
      </div>
  
      <hr class="border-light">
  
      <div class="text-center small">
        © 2026 Charity Trust. All rights reserved.
      </div>
  
    </div>
  </footer>