<nav id="primaryNavbar" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
    <div class="container">
  
      <a class="navbar-brand fw-bold" href="index.html" style="color: rgb(188, 9, 9);">
        TYAGMURTI TRUST
      </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
        <ul class="navbar-nav flex-grow-1 justify-content-evenly text-center">
          <li class="nav-item">
            <a class="nav-link" href="about.html" style="color: rgb(188, 9, 9);">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hospital.html" style="color: rgb(188, 9, 9);">Hospital</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="old-age-home.html" style="color: rgb(188, 9, 9);">Old Age Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="school.html" style="color: rgb(188, 9, 9);">School</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html" style="color: rgb(188, 9, 9);">Contact Us</a>
          </li>
        </ul>
        <a href="donate.html" class="btn btn-danger btn-lg ms-lg-3 px-4">Donate</a>
      </div>
  
    </div>
  </nav>